{% load staticfiles %}
<div class="header">
<div class="logo">

</div>
<div class="menu-main">
<ul class="menu">
    <li><a class="menu-link {% if request.resolver_match.view_name == 'index' %}
                        menu-link-active
                      {% endif %}" href="{% url 'index' %}">Главная</a></li>
    <li><a class="menu-link {% if request.resolver_match.view_name == 'products:index' %}
                        menu-link-active
                      {% endif %}" href="{% url 'products:index' %}">Продукты</a></li>
    <li><a class="menu-link {% if request.resolver_match.view_name == 'contacts' %}
                        menu-link-active
                      {% endif %}" href="{% url 'contacts' %}">Контакты</a></li>
</ul>
</div>
</div>